.modelo-container {
  background-image: linear-gradient(rgb(0, 215, 255), rgb(0, 165, 255));
  font-weight: bold;
}

.footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  height: auto;
  margin-top: auto;
}

.navbar {
  width: 100%;
}

body {
  background-color: rgb(154, 207, 255);
}

.main-conteudo {
  background-color: rgb(205, 255, 255);
  display: flex;
  width: 80%;
  margin: auto;
  height: auto;
  flex-direction: column;
  min-height: 100vh;
}

.texto-main {
  margin: 0 15px;
  text-align: justify;
}

.accordion {
  margin: 15px;
  width: 50%;
}

.acc-peixe {
  height: 50px;
}

.acc-span-peixes {
  display: flex;
  justify-content: space-around;
}

.cards-locais {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.topico-lista {
  background-color: rgb(25, 206, 25);
  color: white;
  text-shadow: 1px 1px 5px black;
  font-weight: bold;
}

.list-group-item {
  display: flex;
  justify-content: center !important;
  align-items: center;
  width: 10%;
}

.container-lista {
  width: 80% !important;
  margin: auto;
  margin-bottom: 15px;
}

#txt-sub,
#prc-sub {
  display: none;
}

@media only screen and (max-width: 1024px) {
  #lista-peixes {
    width: 100% !important;
  }

  #txt-sub {
    display: flex;
  }

  #txt-padrao {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .container-lista {
    width: 90% !important;
    margin: auto;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 425px) {
  .accordion {
    margin: 15px;
    width: 90%;
  }

  .cards-locais {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  .card {
    width: 100% !important;
    margin-bottom: 5px;
  }

  .img-estacao {
    display: none !important;
  }

  .txt-estacao {
    width: 75% !important;
  }

  .img-peixe {
    display: none !important;
  }

  #lista-peixes {
    font-size: 14px;
    width: 100% !important;
  }

  #lista-itens {
    font-size: 14px;
    width: 100% !important;
  }

  .img-item {
    display: none !important;
  }
}

@media only screen and (max-width: 375px) {
  .container-lista {
    width: 90% !important;
    margin: auto;
    margin-bottom: 15px;
    font-size: 14px;
  }

  .peixe-off {
    display: none !important;
  }

  #lista-peixes {
    font-size: 12px;
    width: 100% !important;
  }
}

@media only screen and (max-width: 320px) {
  .container-lista {
    width: 100% !important;
    margin: auto;
    margin-bottom: 15px;
    font-size: 12px;
  }

  .peixe-off-2 {
    display: none !important;
  }

  #prc-padrao {
    display: none;
  }

  #prc-sub {
    display: flex;
  }

  #lista-itens {
    font-size: 12px;
  }
}

@media only screen and (min-width: 2560px) {
  body {
    font-size: 30px;
  }

  h4 {
    font-size: 40px;
  }

  .accordion-button p {
    font-size: 30px !important;
  }
}

.div-form {
  background-color: rgb(0, 145, 233);
  width: 70%;
  margin: 20px auto;
  padding: 10px 10px 20px 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  color: white;
  text-shadow: black 2px 2px 5px;
}

.item-fb {
  border: 2px solid black;
  margin: 10px 45px 10px 10px;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  list-style-type: none;
}

.email-fb {
  color: gray;
  font-size: 14px;
}