{% extends "base.html" %}

{% block title %}Fisher Valley{% endblock %}

{% block content %}
<div class="texto-main">
  <h1 class="titulo">Início</h1><hr>
  <h4>Explicação</h4>
  <p>Peixes podem ser capturados em oceanos, lagos e rios. Podem ser capturados com <a href="/itens">varas de pesca</a>. Alguns peixes aparecem apenas em certas horas do dia, durante certas estações ou climas específicos. Peixes podem ser vendidos, usados ​​como ingredientes culinários ou exibidos em aquários.</p><hr>

  <h4>Comportamento</h4>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <p>Misto</p>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Apresentam um padrão de movimento básico, em que as acelerações para cima e para baixo se assemelham.<hr>
          <p>Exemplos:</p>
          <span class="acc-span-peixes">
          <a href="/peixes"><img src="{{ url_for('static', filename='images/carpa.png')}}" alt="carpa" class="acc-peixe">
          <a href="/peixes"><img src="{{ url_for('static', filename='images/achigapqn.png')}}" alt="achigapqn" class="acc-peixe">
          <a href="/peixes"><img src="{{ url_for('static', filename='images/bagre.png')}}" alt="bagre" class="acc-peixe">
          <a href="/peixes"><img src="{{ url_for('static', filename='images/esturjao.png')}}" alt="esturjao" class="acc-peixe peixe-off-2">
          <a href="/peixes"><img src="{{ url_for('static', filename='images/cioba.png')}}" alt="cioba" class="acc-peixe peixe-off"></a> 
          </span>    
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <p>Suave</p>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Apresentam um padrão de movimento estável, em que as acelerações para cima e para baixo se assemelham, porém são mais lentas em relação à outros tipos de movimentação.<hr>
          <p>Exemplos:</p>
          <span class="acc-span-peixes">
            <a href="/peixes"><img src="{{ url_for('static', filename='images/atum.png')}}" alt="atum" class="acc-peixe">
            <a href="/peixes"><img src="{{ url_for('static', filename='images/salmonete.png')}}" alt="salmonete" class="acc-peixe">
            <a href="/peixes"><img src="{{ url_for('static', filename='images/enguia.png')}}" alt="enguia" class="acc-peixe">
            <a href="/peixes"><img src="{{ url_for('static', filename='images/peixegato.png')}}" alt="peixegato" class="acc-peixe peixe-off-2">
            <a href="/peixes"><img src="{{ url_for('static', filename='images/alocine.png')}}" alt="alocine" class="acc-peixe peixe-off"></a> 
          </span>   
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <p>Pesado</p>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Apresentam um padrão de movimento em que há maior aceleração para baixo do que para cima.<hr>
          <p>Exemplos:</p>
          <span class="acc-span-peixes">
            <a href="/peixes"><img src="{{ url_for('static', filename='images/halibute.png')}}" alt="halibute" class="acc-peixe">
            <a href="/peixes"><img src="{{ url_for('static', filename='images/arraia.png')}}" alt="arraia" class="acc-peixe">
            <a href="/peixes"><img src="{{ url_for('static', filename='images/linguado.png')}}" alt="linguado" class="acc-peixe">
            <a href="/peixes"><img src="{{ url_for('static', filename='images/polvo.png')}}" alt="polvo" class="acc-peixe peixe-off-2">
            <a href="/peixes"><img src="{{ url_for('static', filename='images/lula.png')}}" alt="lula" class="acc-peixe peixe-off"></a> 
          </span>  
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <p>Flutuador</p>
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Apresentam um padrão de movimento em que há maior aceleração para cima do que para baixo.<hr>
          <p>Único peixe conhecido:</p>
          <span class="acc-span-peixes">
          <a href="/peixes"><img src="{{ url_for('static', filename='images/peixebolha.png')}}" alt="peixebolha" class="acc-peixe">
          </a> 
          </span>  
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <p>Dardo</p>
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Apresentam um padrão de movimento imprevisível, com acelerações muito maiores que outros tipos de movimentação.<hr>
          <p>Exemplos:</p>
          <span class="acc-span-peixes">
            <a href="/peixes"><img src="{{ url_for('static', filename='images/sardinha.png')}}" alt="sardinha" class="acc-peixe">
            <a href="/peixes"><img src="{{ url_for('static', filename='images/lucio.png')}}" alt="lucio" class="acc-peixe">
            <a href="/peixes"><img src="{{ url_for('static', filename='images/esqualio.png')}}" alt="esqualio" class="acc-peixe">
            <a href="/peixes"><img src="{{ url_for('static', filename='images/salmaohbr.png')}}" alt="salmaohbr" class="acc-peixe peixe-off-2">
            <a href="/peixes"><img src="{{ url_for('static', filename='images/perca.png')}}" alt="perca" class="acc-peixe peixe-off"></a> 
          </span>
        </div>
      </div>
    </div>
  </div><hr>
  <h4>Locais</h4>
  <div class="cards-locais">
    <div class="card" style="width: 22rem;">
      <img src="{{ url_for('static', filename='images/locais/praia.png')}}" class="card-img-top" alt="praia">
      <div class="card-body">
        <h5 class="card-title">Praia</h5>
        <p class="card-text">Possui peixes de água salgada e outros seres menores encontráveis na areia. É considerada a melhor área para pescar.</p>
      </div>
    </div>
    <div class="card" style="width: 22rem;">
      <img src="{{ url_for('static', filename='images/locais/rio.png')}}" class="card-img-top" alt="rio">
      <div class="card-body">
        <h5 class="card-title">Rio</h5>
        <p class="card-text">Possui peixes de água doce particularmente mais difíceis de serem pescados. Também pode conter lixo.</p>
      </div>
    </div>
    <div class="card" style="width: 22rem;">
      <img src="{{ url_for('static', filename='images/locais/lago.png')}}" class="card-img-top" alt="lago">
      <div class="card-body">
        <h5 class="card-title">Lago</h5>
        <p class="card-text">É onde os peixes mais fáceis se encontram. Possui baixa profundidade e pode conter algum lixo.</p>
      </div>
    </div>
  </div><hr>
  <h4>Estações</h4>
    <div class="container-lista">
      <ul class="list-group list-group-horizontal">
          <li class="list-group-item w-25 img-estacao"><img src="{{ url_for('static', filename='images/estacoes/primavera.png')}}" alt="primavera" class="acc-peixe"></li>
          <li class="list-group-item w-25">Primavera</li>
          <li class="list-group-item w-50 txt-estacao">A grama é vívida, as árvores recuperam suas folhas e florescem, e pétalas rosas voam pelo ar em alguns dias.</li>
      </ul>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item w-25 img-estacao"><img src="{{ url_for('static', filename='images/estacoes/verao.png')}}" alt="verao" class="acc-peixe"></li>
        <li class="list-group-item w-25">Verão</li>
        <li class="list-group-item w-50 txt-estacao">A grama fica amarelada. As árvores já não estão florescendo e em vez disso são grossas com folhas verdes vibrantes.</li>
      </ul>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item w-25 img-estacao"><img src="{{ url_for('static', filename='images/estacoes/outono.png')}}" alt="outono"   class="acc-peixe"></li>
        <li class="list-group-item w-25">Outono</li>
        <li class="list-group-item w-50 txt-estacao">A grama torna-se alaranjada e as árvores perdem todas suas folhas. Ventos ocasionais ocorrem.</li>
      </ul>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item w-25 img-estacao"><img src="{{ url_for('static', filename='images/estacoes/inverno.png')}}" alt="inverno" class="acc-peixe"></li>
        <li class="list-group-item w-25">Inverno</li>
        <li class="list-group-item w-50 txt-estacao">Toda a grama, árvores e plantações morrem. Não chove naturalmente. Ocasionalmente neva.</li>
      </ul>
</div>
{% endblock %}