{% extends "base.html" %}

{% block title%}Peixes{% endblock %}

{% block content %}
<div class="texto-main">
    <h1 class="titulo">Peixes</h1>
    <p>Lista completa de peixes existentes para pesca.</p><hr>
    <div class="container-lista" id="lista-peixes">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item topico-lista flex-fill img-peixe">Imagem</li>
            <li class="list-group-item topico-lista flex-fill">Nome</li>
            <li class="list-group-item topico-lista flex-fill" id="txt-padrao">Comportamento</li>
            <li class="list-group-item topico-lista flex-fill" id="txt-sub">Comp.</li>
            <li class="list-group-item topico-lista flex-fill">Local</li>
            <li class="list-group-item topico-lista flex-fill">Estação</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill img-peixe"><img src="{{ url_for('static', filename='images/achigapqn.png')}}" alt="achigapqn"></li>
            <li class="list-group-item flex-fill">Achigã Pequeno</li>
            <li class="list-group-item flex-fill">Misto</li>
            <li class="list-group-item flex-fill">Lago, Rio</li>
            <li class="list-group-item flex-fill">Primavera, Outono</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill img-peixe"><img src="{{ url_for('static', filename='images/alocine.png')}}" alt="alocine"></li>
            <li class="list-group-item flex-fill">Alocine</li>
            <li class="list-group-item flex-fill">Suave</li>
            <li class="list-group-item flex-fill">Rio</li>
            <li class="list-group-item flex-fill">Primavera, Verão, Outono</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill img-peixe"><img src="{{ url_for('static', filename='images/Arraia.png')}}" alt="arraia"></li>
            <li class="list-group-item flex-fill">Arraia</li>
            <li class="list-group-item flex-fill">Suave</li>
            <li class="list-group-item flex-fill">Praia</li>
            <li class="list-group-item flex-fill">Todas as estações</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill img-peixe"><img src="{{ url_for('static', filename='images/atum.png')}}" alt="atum"></li>
            <li class="list-group-item flex-fill">Atum</li>
            <li class="list-group-item flex-fill">Suave</li>
            <li class="list-group-item flex-fill">Praia</li>
            <li class="list-group-item flex-fill">Verão, Inverno</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill img-peixe"><img src="{{ url_for('static', filename='images/bagre.png')}}" alt="bagre"></li>
            <li class="list-group-item flex-fill">Bagre</li>
            <li class="list-group-item flex-fill">Misto</li>
            <li class="list-group-item flex-fill">Lago, Rio</li>
            <li class="list-group-item flex-fill">Primavera, Verão, Outono</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill img-peixe"><img src="{{ url_for('static', filename='images/baiacu.png')}}" alt="baiacu"></li>
            <li class="list-group-item flex-fill">Baiacu</li>
            <li class="list-group-item flex-fill">Flutuante</li>
            <li class="list-group-item flex-fill">Praia</li>
            <li class="list-group-item flex-fill">Verão</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill img-peixe"><img src="{{ url_for('static', filename='images/carpa.png')}}" alt="carpa"></li>
            <li class="list-group-item flex-fill">Carpa</li>
            <li class="list-group-item flex-fill">Misto</li>
            <li class="list-group-item flex-fill">Lago</li>
            <li class="list-group-item flex-fill">Todas as estações</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill img-peixe"><img src="{{ url_for('static', filename='images/cioba.png')}}" alt="cioba"></li>
            <li class="list-group-item flex-fill">Cioba</li>
            <li class="list-group-item flex-fill">Misto</li>
            <li class="list-group-item flex-fill">Praia</li>
            <li class="list-group-item flex-fill">Verão, Outono, Inverno</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill img-peixe"><img src="{{ url_for('static', filename='images/enguia.png')}}" alt="enguia"></li>
            <li class="list-group-item flex-fill">Enguia</li>
            <li class="list-group-item flex-fill">Suave</li>
            <li class="list-group-item flex-fill">Praia</li>
            <li class="list-group-item flex-fill">Primavera, Outono</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill img-peixe"><img src="{{ url_for('static', filename='images/esqualio.png')}}" alt="esqualio"></li>
            <li class="list-group-item flex-fill">Esquálio</li>
            <li class="list-group-item flex-fill">Dardo</li>
            <li class="list-group-item flex-fill">Lago, Rio</li>
            <li class="list-group-item flex-fill">Todas as estações</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill img-peixe"><img src="{{ url_for('static', filename='images/esturjao.png')}}" alt="esturjao"></li>
            <li class="list-group-item flex-fill">Esturjão</li>
            <li class="list-group-item flex-fill">Misto</li>
            <li class="list-group-item flex-fill">Lago</li>
            <li class="list-group-item flex-fill">Verão, Inverno</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill img-peixe"><img src="{{ url_for('static', filename='images/halibute.png')}}" alt="halibute"></li>
            <li class="list-group-item flex-fill">Halibute</li>
            <li class="list-group-item flex-fill">Pesado</li>
            <li class="list-group-item flex-fill">Lago, Praia</li>
            <li class="list-group-item flex-fill">Primavera, Verão, Inverno</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill img-peixe"><img src="{{ url_for('static', filename='images/linguado.png')}}" alt="linguado"></li>
            <li class="list-group-item flex-fill">Linguado</li>
            <li class="list-group-item flex-fill">Pesado</li>
            <li class="list-group-item flex-fill">Praia</li>
            <li class="list-group-item flex-fill">Primavera, Verão</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill img-peixe"><img src="{{ url_for('static', filename='images/lucio.png')}}" alt="lucio"></li>
            <li class="list-group-item flex-fill">Lúcio</li>
            <li class="list-group-item flex-fill">Dardo</li>
            <li class="list-group-item flex-fill">Lago, Rio</li>
            <li class="list-group-item flex-fill">Verão, Inverno</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill img-peixe"><img src="{{ url_for('static', filename='images/lula.png')}}" alt="lula"></li>
            <li class="list-group-item flex-fill">Lula</li>
            <li class="list-group-item flex-fill">Pesado</li>
            <li class="list-group-item flex-fill">Praia</li>
            <li class="list-group-item flex-fill">Inverno</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill img-peixe"><img src="{{ url_for('static', filename='images/peixebolha.png')}}" alt="peixebolha"></li>
            <li class="list-group-item flex-fill">Peixe Bolha</li>
            <li class="list-group-item flex-fill">Flutuador</li>
            <li class="list-group-item flex-fill">Praia</li>
            <li class="list-group-item flex-fill">Inverno</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill img-peixe"><img src="{{ url_for('static', filename='images/peixegato.png')}}" alt="peixegato"></li>
            <li class="list-group-item flex-fill">Peixe Gato</li>
            <li class="list-group-item flex-fill">Suave</li>
            <li class="list-group-item flex-fill">Lago</li>
            <li class="list-group-item flex-fill">Todas as estações</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill img-peixe"><img src="{{ url_for('static', filename='images/perca.png')}}" alt="perca"></li>
            <li class="list-group-item flex-fill">Perca</li>
            <li class="list-group-item flex-fill">Dardo</li>
            <li class="list-group-item flex-fill">Lago, Rio</li>
            <li class="list-group-item flex-fill">Inverno</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill img-peixe"><img src="{{ url_for('static', filename='images/polvo.png')}}" alt="polvo"></li>
            <li class="list-group-item flex-fill">Polvo</li>
            <li class="list-group-item flex-fill">Pesado</li>
            <li class="list-group-item flex-fill">Praia</li>
            <li class="list-group-item flex-fill">Verão</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill img-peixe"><img src="{{ url_for('static', filename='images/salmaohbr.png')}}" alt="salmaohbr"></li>
            <li class="list-group-item flex-fill">Salmão Híbrido</li>
            <li class="list-group-item flex-fill">Dardo</li>
            <li class="list-group-item flex-fill">Rio</li>
            <li class="list-group-item flex-fill">Outono, Inverno</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill img-peixe"><img src="{{ url_for('static', filename='images/salmonete.png')}}" alt="salmonete"></li>
            <li class="list-group-item flex-fill">Salmonete</li>
            <li class="list-group-item flex-fill">Suave</li>
            <li class="list-group-item flex-fill">Praia</li>
            <li class="list-group-item flex-fill">Verão, Inverno</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill img-peixe"><img src="{{ url_for('static', filename='images/sardinha.png')}}" alt="sardinha"></li>
            <li class="list-group-item flex-fill">Sardinha</li>
            <li class="list-group-item flex-fill">Dardo</li>
            <li class="list-group-item flex-fill">Praia</li>
            <li class="list-group-item flex-fill">Primavera, Outono, Inverno</li>
        </ul>
    </div>
</div>
{% endblock %}